
/* colors */
:root {
    --main-grey: #EBEFF0;
    --main-red: #d25875;
    --main-blue: #142F43;
    --main-orange: #FFA43D;
    --main-purple: #B000B9;
    --main-white: #F7FEFF;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
   font-family: 'Source Code Pro', monospace;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(32deg, #2A485F 10%, var(--main-blue) 90%);
    border: 1px solid var(--main-white);
    padding-bottom: 10px;
}
 
  .main-nav {
      list-style-type: none;
      display: none;
  }

  .main-nav li {
      text-align: center;
      margin: 15px auto;
      color: var(--main-white)
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .nav-link, .logo {
      text-decoration: none;
      color: var(--main-orange);
  }

  .nav-link:hover {
    text-decoration: underline;
    color: var(--main-white);
  }

  .logo {
      display: inline-block;
      font-size: 22px;
      margin-top: 10px;
      margin-left: 20px;
  }
  .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: #fff;
      font-size: 24px; 
  }

  #chkToggle {
    display: none;
  }

  #chkToggle:checked + ul.main-nav {
    display: block;
  }